<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Here is a list of Books and assigned readers</h1>
<table border="1">

   {% for mybooks in mybooks %}
     <tr>
    <td>{{mybooks.title}}</td>
    <td>{{mybooks.author}}</td>
    <td>{{mybooks.genre}}</td>
    <td>{{mybooks.price}}</td>
    <td>{{mybooks.stock}}</td>
       <td>{{ mybooks.assignment.name|default:"Unassigned" }}</td>
    </tr>
   {% endfor %}
</table>
</body>
</html>